/* Your styles here */
/* general */

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 800px;
}

main {
  padding: 0 1em;
}

a {
  text-decoration: none;
}

p {
  display: inline-block;
}

.start {
  text-align: start;
}

.mini {
  font-size: x-small;
  font-weight: 500;
}

.white {
  color: white;
}

.minilink {
  color: #4b8189;
  font-size: xx-small;
  font-weight: 600;
}

.title {
  font-size: 12px;
  font-weight: 600;
}
/* header */

header {
  background-color: rgba(34, 47, 63);
}

.logo {
  height: 2.5em;
}

header img {
  height: 65%;
  padding: 0.3em 1.5em 0.3em;
}

.link {
  background-color: rgba(54, 71, 89);
  padding: 0.5em 1em;
}

header a {
  padding: 0 0.5em 0;
  color: white;
}

/* main 1 */

.holiday {
  background-color: rgba(244, 102, 0);
  padding: 0.1em 0;
  margin: 1em 0;
}
.holiday h2 {
  display: inline;
  padding: auto 0;
}

.holiday-banner {
  box-sizing: border-box;
  background-image: url(../images/bg-image.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 77px;
  line-height: 77px;
  margin-bottom: 1.5em;
}

.holiday-banner div {
  display: inline-block;
  line-height: 1.2;
  vertical-align: middle;
}

.holiday-banner p {
  margin-top: 1em;
}

/* main 2 */

.main-2 {
  padding: 0em 0.7em;
}

.main-2-title p {
  margin-left: 1%;
}

.main-2 img {
  object-fit: cover;
  display: inline-block;
  margin: 0.6em 1%;
  width: 22.5%;
  height: 200px;
  vertical-align: top;
  border-radius: 15px;
  box-shadow: 22px 20px 20px -8px rgba(0, 0, 0, 0.19);
}

/* main 3 */

.main-3 img {
  width: 100%;
  margin-top: 1em;
}

/* footer */

footer {
  margin-top: 1em;
}

.back {
  background-color: #364759;
  height: 1.4em;
}

.back a {
  text-decoration: underline;
  font-size: 8px;
}

.footer-logo {
  background-color: #222f3f;
  height: 5em;
}

.footer-logo img {
  margin-top: 1.5em;
  width: 10%;
}
